<%- include('layouts/header') %>

    <h1>Moringa-Egypt Farms</h1>
<p> <img src="../images/moringa1.jpg" alt=""  style="max-width:100%;height:auto;"> </p>
  <h1>Certified organic moringa from Moringa-Egypt Farms</h2>
<p>Caring organic cultivation combined with clearly structured quality management from the seed to the finished product. We deliver to you Moringa quality that is so unique that it cannot even be compared! You see it at first glance: in the color, taste and smell and above all in "intrinsic values", like vitamins, vital substances, polyphenols, amino acids, phyto hormones and more.

Our special & private drying procedure, as well as the unique selection was developed specially for Moringa from the Moringa-Egypt and guarantees real food quality with a residual moisture content well below 10%.

Our Moringas are cultivated in the Baharya Oasis to strict guidelines prescribed by the European standards for organic cultivation.

Moringa, a true wonder of nature.</p>

<p>We are tolerant and nature-loving people, who show zero tolerance when it comes to pesticides.

Did you actually know that there are also maximum limits for pesticides in organic cultivation? Only a complete absence of pesticides is possible for us.
To grow Moringas, you also need the right climate and environmental conditions. Baharya Oasis is a depression and oasis in the Western Desert of Egypt. , with high solar radiation, prevailing winds
and is free from contamination and other harmful influences, such as chemtrails, acid rain. Continuous internal and external analyses confirm our quality and reward us for our hard work in the field and in the office.
See for yourself and check out our own constantly-updated analyses of our Moringas.</p>

<br>
<%- include('layouts/footer') %>
