<%- include('layouts/header') %>

    <h1>Do you know the moringa's benefits?</h1><br>
    <img id="imag"src="../images\benefit1.jpg" width="550px" height="550px"alt="" style="max-width:100%;height:auto;">
    <img src="../images/Moringa-Oleifera-Drumstick-Tree-infograph.jpg" width="650px"height="650px" style="max-width:100%;height:auto;">
<br><br><br>
<%- include('layouts/footer') %>

