
<%- include('layouts/header') %>

    <h1>THANKYOU!</h1>
    <p>Thank you for dealing with us.</p><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <%- include('layouts/footer') %>

